.categories{
    height: 100% !important;
}
.categories .card-icon{
    display: block;
    height: 70px !important;
    width: 70px !important;
    margin: auto;
}
.categories .card-title{
    margin: 0px;
    margin-top: 10px;
}