.top,
.middle,
.search-box {
  background-color: #149777;
}
.top p {
  color: white;
}
.middle p {
  color: white;
  font-size: clamp(2rem, 20vw, 6rem);
  text-align: center;
}
.container {
  height: 70px;
}
p {
  margin: 0;
}
.top .logo-small {
  width: 120px;
  border-radius: 5px;
}
.top .login {
  background: white;
  color: #149777;
  font-weight: bold;
  border: none;
  width: 75px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}
.top .myAccountLoginBtn {
  cursor: pointer;
  height: 50px !important;
  width: 50px !important;
  border-radius: 50%;
}
.search-box button {
  width: 120px;
  background: white;
  color: #149777;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
